name: Analyze

on:
  workflow_dispatch:
  pull_request:
    branches: [ '*' ]

jobs:
  analyze:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set Flutter version
        uses: kuhnroyal/flutter-fvm-config-action/setup@v3
        with:
          cache: false

      - name: Install dependencies
        run: flutter pub get

      - name: Verify formatting
        run: dart format --output=none --set-exit-if-changed .

      - name: Setup problem matcher
        uses: leancodepl/dart-problem-matcher@main

      - name: Analyze project source
        run: flutter analyze --verbose
